<div class="container">
    <br>
    <h2 class="text-center">Bem vindo ao Tetris Multiplayer</h2>
    <hr>
    <div class="row">
        <div class="col-sm">

            <label for="nickname">Entrar Em Uma Sala</label>
            <div class="input-group mb-3">
                <input type="text" class="form-control" id="entrarsala" placeholder="" aria-label="Nickname"
                    aria-describedby="Nickname">
                <button (click)="entrarsala()" class="btn btn-success" type="button">Entrar</button>
            </div>
        </div>
        <div class="col-sm">
            <label for="nickname">Criar Uma Sala</label>
            <div class="input-group mb-3">
                <input type="text" class="form-control" id="criarsala" placeholder="" aria-label="Nickname"
                    aria-describedby="Nickname">
                <button class="btn btn-info" (click)="criarsala()" type="button">Criar</button>
            </div>
        </div>
    </div>
    <hr>

</div>