/* You can add global styles to this file, and also import other style files */
* {
  font-family: 'Press Start 2P', cursive;
}

.game-board {
  border: solid 2px;
}

.play-button {
  background-color: #4caf50;
  /*border: none;
  outline: none;
  border-radius: 8px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-left: 30px;
  vertical-align: bottom;
  cursor: pointer;*/
}
