<div class="container">
    <br>
    <h2 class="text-center">Bem vindo ao Tetris Multiplayer</h2>
    <hr>
    <div class="row">
        <div class="col-sm">

            <label for="nickname">Insira um NickName para Jogar</label>
            <div class="input-group mb-3">
                <input type="text" class="form-control" id="nickname" placeholder="" aria-label="Nickname"
                    aria-describedby="Nickname">
                <button class="btn btn-success" (click)="setnickname()" type="button" id="button-addon1">Entrar</button>
            </div>
        </div>
        <div class="col-sm">
            <br>
            <h4>Mais conteudo em breve</h4>
        </div>
    </div>
    <hr>

</div>